<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation Test Suite">
	<test name="Functional Testing">
		<parameter name="deviceName" value="" />
		<parameter name="platformName" value="" />
		<parameter name="platformVersion" value="" />
		<parameter name="udid" value="" />
		<parameter name="browserName" value="chrome" />
		<parameter name="browserVersion" value="" />
		<parameter name="nodeIP" value="" />
		<parameter name="nodePort" value="" />
		<classes>
			<!-- <class name="com.qa.testcases.LoginPageTest"></class> -->
			<!-- <class name="com.qa.testcases.InventoryPageTest"></class> -->
			<!-- <class name="com.qa.testcases.ReceiveSwabTest"></class> -->
			<!-- <class name="com.qa.testcases.CustomerPageTest"></class> -->
<!-- 			<class name="com.qa.testcases.ReportPageTest"></class> -->
			<class name="com.qa.testcases.PGVPageTest"></class>
		</classes>
	</test>
</suite>